.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-orange;
  border-radius: 32px;
  grid-column: 1 / 3;
  margin-bottom: 112px;

  &:focus {
    border: 2px solid $color-dark-orange;
  }

  @include onTablet {
    margin-bottom: 0;
    grid-column: 3 / 7;
  }

  @include onMobile {
    grid-column: 1 / 9;
  }

  &__text {
    color: $color-orange;
    padding: 20px 0 20px 6px;
    @extend %uppercase;
    transition: color $transition-time;
  }

  &__image {
    fill: $color-orange;
    transition: fill $transition-time;
  }

  &:hover {
    background-color: $color-orange;

    .button__text {
      color: $color-white;
    }

    .button__image {
      fill: $color-white;
    }
  }

  &:focus {
    background-color: $color-dark-orange;

    .button__text {
      color: $color-white;
    }

    .button__image {
      fill: $color-white;
    }
  }
}
