.button {
  display: flex;
  justify-content: center;
  border: 2px solid $color-orange;
  border-radius: 32px;
  grid-column: 1 / 3;
  margin-bottom: 112px;

  &__text {
    color: $color-orange;
    padding: 20px 0 20px 6px;
    @extend %uppercase;
  }

  &:hover {
    background-color: $color-orange;

    .button__text {
      color: $color-white;
    }

    .button__image {
      filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }
  }
}
