.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;

  &__list {
    display: flex;
    align-items: center;

    @include onTablet {
      display: none;
      padding: 20px;
    }
  }

  &__item {
    transition: transform $transition-time;

    &:not(:first-child) {
      margin-left: 64px;
    }

    &:hover {
      transform: translateY(-15%);
      cursor: pointer;
      
      .nav__link {
        color: $color-orange;
      }
    }

    &--call {
      display: inline-flex;
      align-items: center;

      &-image {
        padding: 6px;
      }

      &:hover {
        transform: translateX(-5%);
        cursor: pointer;
      }
    }
  }

  &__link {
    color: $color-black;
    @extend %body__text;

    &--call {
      color: $color-orange;
      @extend %uppercase;
    }
  }

  &__menu {
    display: none;
    transition: transform $transition-time;

    &:hover {
      transform: scale(1.2);
    }

    &-opener {
      width: 20px;
      height: 20px;
    }

    @include onTablet {
      display: block;
    }
  }

  &__side {
    &-menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-100%);
      padding: 20px;
      background-color: $color-blue;
      height: 100vh;
      width: 100vw;
      z-index: 2;
      transition: transform $transition-time;

      &:target {
        transform: translateY(0);
      }

      &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-close {
        margin: 4px 12px 0 0;
        transition: transform $transition-time;

        &:hover {
          transform: scale(1.2);
        }

        &-img {
          height: 20px;
          width: 20px;
        }
      }
    }

    &-list {
      margin-top: 30vh;
    }

    &-item {
      margin-bottom: 24px;
      text-align: center;

      &--call {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-link{
      @extend %body__text;
      color: $color-black;

      &:hover {
        color: $color-orange;
      }
    }
  }
}
