.products {
  &__header {
    grid-column: 1 / 9;
    margin: 178px 0 24px;
    @extend %desktop__h2;
  }

  &__description {
    grid-column: 1 / 9;
    margin-bottom: 80px;
    @extend %body__text;
  }

  &__card {
    &-image {
      margin-bottom: 16px;
    }

    &-name {
      @extend %uppercase;
      color: $color-grey;
      margin-bottom: 8px;
    }

    &-text {
      @extend %body__text;
      color: $color-black;
      margin-bottom: 24px;
    }

    &-button {
      @extend %uppercase;
      display: flex;
      align-items: center;
      margin-bottom: 88px;

      &-text {
        color: $color-orange;
      }

      &-image {
        padding: 4px;
      }
    }
  }

  &__card--1 {
    grid-column: 1 / 4;
  }

  &__card--2 {
    grid-column: 4 / 7;
  }

  &__card--3 {
    grid-column: 3 / 6;
  }

  &__card--4 {
    grid-column: 6 / 9;
  }

  &__card--5 {
    grid-column: 1 / 4;
  }

  &__card--6 {
    grid-column: 4 / 7;
  }
}
