$color-dark-orange: #B2341A;
$color-orange: #F9512E;
$color-light-orange: #FBA28F;
$color-pink: #FFEEFC;
$color-blue: #EEF7FF;
$color-black: #1C1A26;
$color-grey: #7F8096;
$color-white: #FFF;
$transition-time: 0.2s;
